{% extends "base.html" %}
{% load static %}
{% block content %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/collecte/collecte.css' %}">
{% endblock %}
    <div class="collect-section">
    <h2><i class="fas fa-clipboard-list"></i> Collecte et Enregistrement </h2>

    <div class="collect-buttons">
        <button type="button" onclick="window.location.href='{% url 'collecte_login' %}'">
            <i class="fas fa-book"></i> Collecte
        </button>
        <button type="button" onclick="window.location.href='{% url 'periodique_login' %}'">
            <i class="fas fa-calendar-alt"></i> Periodique
        </button>
        <button type="button" onclick="window.location.href='{% url 'monographie_login' %}'">
            <i class="fas fa-book"></i> Monographie
        </button>
    </div>
    </div>
{% endblock %}
