{% extends "base.html" %}
{% load static %}
{% block content %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/collecte/collecte.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/form2.css' %}">
  <link rel="stylesheet" href="{% static 'css/direct.css' %}">

{% endblock %}
    <div class="collect-section">
    <h2><i class="fas fa-database"></i> Collecte et Enregistrement </h2>
    <div class="collect-buttons">
        <button type="button" onclick="window.location.href='{% url 'collecte_login' %}'">
            <i class="fas fa-book"></i> Collecte
        </button>
        <button type="button" onclick="window.location.href='{% url 'periodique_login' %}'">
            <i class="fas fa-calendar-alt"></i> Periodique
        </button>
        <button type="button" onclick="window.location.href='{% url 'monographie_protected' %}'">
            <i class="fas fa-book"></i> Monographie
        </button>
    </div>
    
    <h2> Collection de Document </h2>
    <div class="search-section">
        <button type="button" onclick="window.location.href='{% url 'accueil' %}'">
            <i class="fas fa-camera"></i> Editer
        </button>
        <form method="get" action="{% url 'resultats' %}">
            <div class="search-input">
                {{ formSearch.q }}
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="periodique-form-section">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" data-auto-dismiss="5000">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" class="article-periodique-form">
            {% csrf_token %}
            <div class="form-section">
                <h3><i class="fas fa-info-circle"></i> Collection </h3>
                    <div class="form-group">
                        {% if form_collection_doc.num.errors %}
                        <div class="alert alert-error">{{ form_collection_doc.num.errors }}</div>
                            {% endif %}
                            <div class="field-row">
                                {{ form_collection_doc.num.label_tag }}
                                {{ form_collection_doc.num }}
                            </div>
                            <span class="help-text">{{form_collection_doc.num.help_text}}</span>
                        
                    </div>
                    <div class="form-group">
                        {% if form_collection_doc.titre_document.errors %}
                        <div class="alert alert-error">{{ form_collection_doc.titre_document.errors }}</div>
                            {% endif %}
                            <div class="field-row">
                                {{ form_collection_doc.titre_document.label_tag }}
                                {{ form_collection_doc.titre_document }}
                            </div>
                            <span class="help-text">{{form_collection_doc.titre_document.help_text}}</span>
                        
                    </div>
                    <div class="form-group">
                        {% if form_collection_doc.source.errors %}
                        <div class="alert alert-error">{{ form_collection_doc.source.errors }}</div>
                            {% endif %}
                            <div class="field-row">
                                {{ form_collection_doc.source.label_tag }}
                                {{ form_collection_doc.source }}
                            </div>
                            <span class="help-text">{{form_collection_doc.source.help_text}}</span>
                        
                    </div>
                    <div class="form-group">
                        {% if form_collection_doc.support.errors %}
                        <div class="alert alert-error">{{ form_collection_doc.support.errors }}</div>
                            {% endif %}
                            <div class="field-with-help-text">
                                <div class="form-check-radio-group">
                                    <div>
                                        {{ form_collection_doc.support.label_tag }}
                                    </div>
                                    {% for radio in form_collection_doc.support %}
                                        <div class="form-check-radio-item">
                                            {{ radio.tag }}
                                            <label class="form-check-label2" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <span class="help-text">{{ form_collection_doc.support.help_text }}</span>
                            </div>
                            {% comment %} <div class="field-row">
                                {{ form_collection_doc.support.label_tag }}
                                {{ form_collection_doc.support }}
                            </div>
                            <span class="help-text">{{form_collection_doc.support.help_text}}</span> {% endcomment %}
                        
                    </div>
                    <div class="form-group">
                        {% if form_collection_doc.date_collect.errors %}
                        <div class="alert alert-error">{{ form_collection_doc.date_collect.errors }}</div>
                            {% endif %}
                            <div class="field-row">
                                {{ form_collection_doc.date_collect.label_tag }}
                                {{ form_collection_doc.date_collect }}
                            </div>
                            <span class="help-text">{{form_collection_doc.date_collect.help_text}}</span>
                        
                    </div>
                
            </div>
            <div class="form-actions">
                <button type="reset" class="effacer">
                    <i class="fas fa-eraser"></i> Effacer
                </button>
                <button type="submit" class="enregistrer">
                    <i class="fas fa-check-circle"></i> Valider
                </button>
            </div>
        </form>
        <div class = "directSection">
            <div class = "buttonSection">
                <h3>Enregistrer en tant qu'un document Periodique</h3>
                <button type="button" onclick="window.location.href='{% url 'periodique_login' %}'">
                    <i class="fas fa-calendar-alt"></i> Periodique
                </button>
            </div>
            <div class = "buttonSection">
                <h3> Enregistrer en tant qu'un document Non périodique, UGP, UG ou Rapport </h3>
                <button type="button" onclick="window.location.href='{% url 'monographie_login' %}'">
                    <i class="fas fa-calendar-alt"></i> Monographie
                </button>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const alerts = document.querySelectorAll('.alert[data-auto-dismiss]');
        alerts.forEach(alert => {
            const timeout = parseInt(alert.getAttribute('data-auto-dismiss'), 10);
            setTimeout(() => {
            alert.style.transition = "opacity 0.5s ease";
            alert.style.opacity = "0";
            setTimeout(() => alert.remove(), 500);
            }, timeout);
        });
        });
    </script>

{% endblock %}