{% extends "base.html" %}
{% load static %}
{% block content %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/collecte/collecte.css' %}">
{% endblock %}
    <div class="collect-section">
    <h2><i class="fas fa-clipboard-list"></i> Collecte</h2>

    <div class="collect-buttons">
        <button type="button" onclick="window.location.href='{% url 'periodique_protected' %}'">
            <i class="fas fa-calendar-alt"></i> Periodique
        </button>
        <button type="button" onclick="window.location.href='{% url 'monographie_login' %}'">
            <i class="fas fa-book"></i> Monographie
        </button>
        <button type="button" onclick="window.location.href='{% url 'indexeur_login' %}'">
            <i class="fas fa-user-check"></i> Indexeur
        </button>
        <button type="button" onclick="window.location.href='{% url 'indexationControl_login' %}'">
            <i class="fas fa-tasks"></i> Indexation & Contrôle
        </button>
        <button type="button" onclick="window.location.href='{% url 'priseVue_login' %}'">
            <i class="fas fa-camera"></i> Prise de Vue
        </button>
    </div>
    </div>
{% endblock %}
