{% extends "base.html" %}
{% load static %}
{% block content %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/collecte/collecte.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/form2.css' %}">
{% endblock %}
    <div class="collect-section">
    <h2><i class="fas fa-tasks"></i> Statistiques </h2>

    <div class="collect-buttons">
        <button type="button" onclick="window.location.href='{% url 'listeDocType' %}'">
            <i class="fas fa-search"></i> Chercher un Document
        </button>
        <button type="button" onclick="window.location.href='{% url 'source_login' %}'">
            <i class="fas fa-plus-circle"></i> Afficher les Statistiques
        </button>
    </div>
    <h2> Liste des Document par type de périodicité </h2>
    <div class="search-section">
        <button type="button" onclick="window.location.href='{% url 'accueil' %}'">
            <i class="fas fa-camera"></i> Editer
        </button>
        <form method="get" action="{% url 'resultats' %}">
            <div class="search-input">
                {{ formSearch.q }}
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="periodique-form-section">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" class="article-periodique-form">
            {% csrf_token %}
            <div class="form-section">
                
                <!-- N° Enregistrement -->
                <div class="form-group">
                    {% if form_search_doc_type.date.errors %}
                    <div class="alert alert-error">{{form_search_doc_type.date.errors }}</div>
                    {% endif %}
                    {% if form_search_doc_type.de.errors %}
                    <div class="alert alert-error">{{form_search_doc_type.de.errors }}</div>
                    {% endif %}
                    {% if form_search_doc_type.a.errors %}
                    <div class="alert alert-error">{{form_search_doc_type.a.errors }}</div>
                    {% endif %}
                    <div class = "field-group">
                        <div class="field-row-part">
                            {{ form_search_doc_type.date.label_tag }}
                            {{ form_search_doc_type.date }}
                        </div>
                        <div class = "field-with-help-text">
                            <div class="field-row-part">
                                {{ form_search_doc_type.de.label_tag }}
                                {{ form_search_doc_type.de }}
                            </div>
                            <span class="help-text"> {{form_search_doc_type.de.help_text}}</span>
                        </div>
                        <div class = "field-with-help-text">
                            <div class="field-row-part">
                                {{ form_search_doc_type.a.label_tag }}
                                {{ form_search_doc_type.a }}
                            </div>
                            <span class="help-text"> {{form_search_doc_type.a.help_text}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {% if form_search_doc_type.type.errors %}
                    <div class="alert alert-error">{{form_search_doc_type.type.errors }}</div>
                    {% endif %}
                    {% if form_search_doc_type.type_doc.errors %}
                    <div class="alert alert-error">{{form_search_doc_type.type_doc.errors }}</div>
                    {% endif %}
                    <div class = "field-group">
                        <div class="field-row-part">
                            {{ form_search_doc_type.type.label_tag }}
                            {{ form_search_doc_type.type }}
                        </div>
                        <div class = "field-with-help-text">
                            <div class="field-row-part">
                                {{ form_search_doc_type.type_doc.label_tag }}
                                {{ form_search_doc_type.type_doc }}
                            </div>
                            <span class="help-text"> {{form_search_doc_type.type_doc.help_text}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {% if form_search_doc_type..errors %}
                    <div class="alert alert-error">{{form_search_doc_type.lg.errors }}</div>
                    {% endif %}
                    {% if form_search_doc_type.langue_doc.errors %}
                    <div class="alert alert-error">{{form_search_doc_type.langue_doc.errors }}</div>
                    {% endif %}
                    <div class = "field-group">
                        <div class="field-row-part">
                            {{ form_search_doc_type.lg.label_tag }}
                            {{ form_search_doc_type.lg }}
                        </div>
                        <div class = "field-with-help-text">
                            <div class="field-row-part">
                                {{ form_search_doc_type.langue_doc.label_tag }}
                                {{ form_search_doc_type.langue_doc }}
                            </div>
                            <span class="help-text"> {{form_search_doc_type.langue_doc.help_text}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="form-actions">
                <button type="submit" class="enregistrer">
                    <i class="fas fa-check-circle"></i> Valider
                </button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}