{% extends "base.html" %}
{% load static %}
{% block content %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/collecte/collecte.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/form2.css' %}">
{% endblock %}
    <div class="collect-section">
    <h2><i class="fas fa-tasks"></i> Statistiques </h2>
    <div class="collect-buttons">
        <button type="button" onclick="window.location.href='{% url 'listeDocType' %}'">
            <i class="fas fa-search"></i> Chercher un Document
        </button>
        <button type="button" onclick="window.location.href='{% url 'source_login' %}'">
            <i class="fas fa-plus-circle"></i> Afficher les Statistiques
        </button>
    </div>
    </div>
{% endblock %}