{% extends "base.html" %}
{% load static %}
{% block content %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/collecte/collecte.css' %}">
{% endblock %}
    <div class="collect-section">
    <h2><i class="fas fa-database"></i> Gestion</h2>

    <div class="collect-buttons">
        <button type="button" onclick="window.location.href='{% url 'periodique_login' %}'">
            <i class="fas fa-search"></i> Document à Indexer
        </button>
        <button type="button" onclick="window.location.href='{% url 'source_login' %}'">
            <i class="fas fa-plus-circle"></i> Ajouter/Supprimer une source
        </button>
        <button type="button" onclick="window.location.href='{% url 'domaine_login' %}'">
            <i class="fas fa-tags"></i> Ajouter/Supprimer un domaine
        </button>
    </div>
    </div>
{% endblock %}